<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <add key="Path" value="http://localhost/Yuvaas/" />
    <!--<add key="ConnectionString" value="Data Source=AVINASH-PC\SQLSRV;Initial Catalog=Yuvaas;User ID=sa;pwd=123456Aa; Timeout =255"/>-->
    <!--<add key="ConnectionString" value="Data Source=TMTV-U1-PC\SQLSRV;Initial Catalog=Yuvaas;User ID=sa;pwd=123456Aa; Timeout =255" />-->
    <add key="Set_Css_MasterPage" value="~/Css/StyleSheet.css,~/Css/ResponsiveStyleSheet.css" />
    <add key="Set_Javascript_Jquery" value="~/Js/jquery.min.js" />
    <add key="Set_Javascript_UI" value="~/Js/jquery-ui.min.js" />
    <add key="Set_Javascript_FaceScroll" value="~/Js/facescroll.js" />
    <add key="Set_Javascript_TouchPunch" value="~/Js/jquery.ui.touch-punch.min.js" />
    <add key="Set_Javascript_modernizr" value="~/Js/modernizr.custom.02212.js" />
    <add key="Set_Javascript_LazyLoad" value="~/Js/jquery.lazyload.js" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="ADServices" connectionString="LDAP://winitsoftware.local:389/dc=winitsoftware,dc=local" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=TMTV-U1-PC\SQLSRV;Initial Catalog=Yuvaas;Persist Security Info=True;User ID=sa;Password=123456Aa; MultipleActiveResultSets=False;Packet Size=4096;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=AVINASH-PC\SQLSRV;Initial Catalog=Yuvaas;Persist Security Info=True;User ID=sa;Password=123456Aa; MultipleActiveResultSets=False;Packet Size=4096;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=Yuvaas.db.12786852.hostedresource.com; Initial Catalog=Yuvaas; User ID=Yuvaas; Password='Ifelse@123';" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajax" />
      </controls>
    </pages>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0">
    </compilation>

    <!--<httpHandlers>
      <add path="Bind.axd" verb="*" type="ASPNETChat.Handlers.Bind, MangoChat" validate="false"/>
      <add path="Poll.axd" verb="*" type="ASPNETChat.Handlers.ChatController, MangoChat" validate="false"/>
      <add path="ChatPhoto.axd" verb="*" type="ASPNETChat.Handlers.ChatPhoto, MangoChat" validate="false"/>
    </httpHandlers>-->
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
      <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true">
      </modules>
    </system.webServer>

</configuration>
